{% block swag_blog_detail %}
	<sw-page class="swag-blog-detail">

		<template #smart-bar-header>
			<h2 v-if="blog && blog.title">
				{{ blog.title }}
			</h2>
			<h2 v-else>
				{{ $tc('swag-blog.detail.titleNew') }}
			</h2>
		</template>

		<template #smart-bar-actions>
			
			<sw-button variant="primary" :disabled="isLoading" @click="onSave">
				{{ $tc('global.default.save') }}
			</sw-button>
		</template>

		<template #content>
			<sw-card-view>
				<sw-card :title="$tc('swag-blog.detail.cardGeneral')">
					<sw-text-field v-model:value="blog.title" label="Title" :error="blog.errors?.title" required/>
					<sw-textarea-field v-model:value="blog.description" label="Description" :error="blog.errors?.description"/>

					<sw-text-field v-model:value="blog.author" label="Author" :error="blog.errors?.author" required/>

					<sw-single-select v-model:value="blog.categoryId" label="Category" :error="blog.errors?.categoryId" :options="categoryOptions" display-field="label" value-property="value" placeholder="Select a category" required/>
					<sw-datepicker v-model:value="blog.publishedAt" :label="$tc('swag-blog.detail.labelPublishedAt')" size="medium" required :date-type="isDateTime" :error="blog.errors?.publishedAt"/>

					{% block sw_blog_detail_logo_upload %}

						<sw-upload-listener :upload-tag="mediaUploadTag" auto-upload @media-upload-finish="onUploadMedia"/>

						<sw-media-upload-v2 :source="blog.mainImage" :allow-multi-select="false" :upload-tag="mediaUploadTag" :default-folder="blogRepository.entityName" @sw-media-upload-v2-media-upload-success="onUploadMedia" @media-drop="onUploadMedia" @media-upload-sidebar-open="openMediaModal" @media-upload-remove-image="onUnlinkLogo"/>

						<sw-media-modal-v2 v-if="showMediaModal" :allow-multi-select="false" :entity-context="mediaUploadTag" @media-modal-selection-change="onSelectMedia" @media-upload-finish="onUploadMedia" @modal-close="closeMediaModal"/>
						<sw-media-preview v-if="blog.mainImage" :media="blog.mainImage" :show-toolbar="true">
							<template #toolbar>
								<sw-button variant="danger" @click="onUnlinkLogo">Remove</sw-button>
							</template>
						</sw-media-preview>
					{% endblock %}
				</sw-card>
			</sw-card-view>
		</template>
	</sw-page>
{% endblock %}
