<div class="sw-blog-media-form" :class="{ 'is--disabled': disabled }">
    <sw-upload-listener :upload-tag="blog.id" auto-upload @media-upload-finish="$emit('add-media', $event)" />
    <sw-media-upload-v2 :upload-tag="blog.id" variant="regular" :file-accept="fileAccept" @media-upload-sidebar-open="onOpenMedia" />

    <div class="sw-blog-media-form__grid sw-blog-media-form__column" :style="gridAutoRows">
        <sw-blog-image
            v-for="mediaItem in mediaItems"
            :key="mediaItem.id"
            :is-cover="isCover(mediaItem)"
            :media-id="mediaItem.mediaId"
            @sw-blog-image-delete="removeFile(mediaItem)"
            @sw-blog-image-cover="markMediaAsCover(mediaItem)"
        />
    </div>
</div>
