{% block sw_cms_element_blog_listing_preview %}
	<div class="sw-cms-el-blog-listing-preview">
		<h3>Blog Listing Element (Preview)</h3>
	</div>
	<div class="sw-cms-el-preview-blog-listing">
		<div class="sw-cms-el-preview-blog-listing__filter-panel">
			<div class="sw-cms-el-preview-blog-listing__filter"></div>
			<div class="sw-cms-el-preview-blog-listing__filter"></div>
			<div class="sw-cms-el-preview-blog-listing__filter"></div>
			<div class="sw-cms-el-preview-blog-listing__filter"></div>
		</div>

	</div>
{% endblock %}
