{% block sw_cms_block_blog_listing_preview %}
	<div class="sw-cms-blog-listing-preview">
		<h3>Blog Listing (Preview)</h3>
	</div>
	<div class="sw-cms-preview-blog-listing">
		<div class="sw-cms-preview-blog-listing__filter-panel">
			<div class="sw-cms-preview-blog-listing__filter"></div>
			<div class="sw-cms-preview-blog-listing__filter"></div>
			<div class="sw-cms-preview-blog-listing__filter"></div>
			<div class="sw-cms-preview-blog-listing__filter"></div>
		</div>
	</div>
{% endblock %}
