{% block sw_cms_el_component_custom_text %}
    <div class="sw-cms-el-component-custom-text">
        <p v-if="content">{{ content }}</p>
        <p v-else class="is--placeholder">No text added</p>
    </div>
{% endblock %}
