<div class="sw-cms-el-blog-listing">
    <div class="sw-cms-el-blog-listing-placeholder">
        <sw-icon name="regular-newspaper" size="48px"></sw-icon>
        <h4>Blog Listing Element</h4>
        <p><strong>Selected category:</strong> {{ categoryName }}</p>
        <p><strong>Limit:</strong> {{ postLimit }}</p>
    </div>
</div>