{% block sw_cms_element_blog_listing_config %}
	<div class="sw-cms-el-config-blog-listing">
		<sw-single-select v-model:value="element.config.category.value" :options="categoryOptions" label="Select Blog Category" :label-property="'label'" value-property="value" @update:value="onCategoryChange">
			<template #selection-label-property="{ item }">
				{{ item.label }}
			</template>
			<template #result-label-property="{ item }">
				{{ item.label }}
			</template>
		</sw-single-select>

		<sw-number-field v-model:value="element.config.limit.value" label="Number of blogs" numbertype="int" :min="1" @update:value="onLimitChange"/>
	</div>
{% endblock %}
