{% block sw_cms_el_component_custom_url %}
    <div class="sw-cms-el-component-custom-url">
        <a v-if="url" :href="url" target="_blank">{{ url }}</a>
        <span v-else class="is--placeholder">No URL set</span>
    </div>
{% endblock %}
